* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serifS;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  margin: 0;
  background-color: #1e1e1e;
}

.mainDiv {
  background-color: #3c3c3c;
  width: 400px;
  height: 500px;
  color: #b3b3b3;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.imgDiv {
  width: 300px;
  height: 300px;
  position: relative;
  top: -50px;
  left: 50px;
}

.imgDiv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.titleDiv {
  text-align: center;
}

.title {
  margin: 0;
  font-size: 25px;
}

.creator {
  margin: 5px 0px;
  font-size: 20px;
  font-weight: 450;
}

.progressDiv {
  background-color: rgb(112, 112, 112);
  height: 4px;
  width: 90%;
  margin: 30px auto;
  cursor: pointer;
  border-radius: 10px;
}

.progress {
  width: 0%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
}

.timeDiv {
  position: relative;
  top: -27px;
  display: flex;
  justify-content: space-between;
}

.musicControlDiv {
  display: flex;
  justify-content: center;
}

.icon {
  margin: 0px 30px;
  font-size: 30px;
  cursor: pointer;
}

.icon:hover {
  color: #f0f0f0;
}

.logo {
  width: 250px;
  height: 230px; /* Logonun boyutunu belirleyin */
  background-image: url("logo.png"); /* logo.png dosyasını arka plan olarak ekleyin */
  background-size: contain; /* Resmin boyutuna göre orantılı şekilde ayarlar */
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10; /* Logoyu diğer elemanların üstüne taşır */
  filter: brightness(0) invert(1); /* Beyaz renk yapar */
  opacity: 0.9; /* Hafif şeffaflık ekleyin */
}

/* Add this for mobile responsiveness */
@media (max-width: 600px) {
  .mainDiv {
    width: 300px;
    height: 400px;
  }

  .imgDiv {
    width: 250px;
    height: 250px;
    left: 25px;
  }

  .timeDiv {
    margin-top: -6px;
  }

  .title {
    font-size: 20px;
    margin-top: -10px;
  }

  .creator {
    font-size: 16px;
  }

  .progressDiv {
    height: 7px; /* Daha kalın hale getir */
    width: 90%; /* Kenarlara daha yakın yap */
    margin: 20px auto; /* Ortaya hizala */
    cursor: pointer; /* Mobilde tıklanabilir olduğunu göstermek için */
  }

  .logo {
    width: 230px; /* Mobilde daha küçük boyut */
    height: 230px;
    top: 5px; /* Daha yukarıda durması için */
  }
}

@media (max-width: 375px) {
  /* iPhone SE ekran genişliği */
  .logo {
    width: 170px; /* Küçük ekranda daha iyi görünmesi için boyutu küçült */
    height: 170px;
    top: -30px; /* Ekranın üst kısmına daha yakın konumlandır */
  }

  .mainDiv {
    width: 280px; /* Küçük ekrana daha uygun hale getirmek için */
    height: 400px;
  }

  .imgDiv {
    width: 240px;
    height: 240px;
    left: 20px;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1280px) and (min-height: 720px) and (max-height: 720px) {
  .logo {
    width: 170px;
    height: 170px;
    top: -30px; 
  }

  .mainDiv {
    width: 350px;
    height: 450px;
  }

  .imgDiv {
    width: 280px;
    height: 280px;
    left: 35px;
  }
}

.footer-note {
  font-size: 14px; /* Small font size */
  color: #888; /* Light gray color */
  text-align: center; /* Center align */
  position: fixed; /* Fix to the bottom */
  bottom: 10px; /* Slightly above the bottom edge */
  width: 100%; /* Stretch across the width of the page */
  opacity: 0.6; /* Add transparency */
}
